<% if(comments){ %>

<% function test(arr){ %>
	<ul class="media-list">
		<% arr.forEach(function(item,index){ %>
	 	<li class="media" style="border: 1px solid #C9C9C9;">
	    <a class="pull-left" href="#">
	      <span><%=item.userName %></span>
	      <span><%=item.time%></span>
	    </a>
	    <div class="media-body" >
	      <span class="media-heading h4"><%=item.content %></span>
	      <% if(item.userName != user.name){ %>
		  <button class="btn btn-primary reply" type="button">reply</button>
		  <form>
		  <input type="hidden" name="replyID" value="<%=item._id%>">
		  <input type="hidden" name="replyName" value="<%=item.userName%>">
		  <input name="blogID" type="hidden" value="<%=doc._id%>">
		  
		  </form>
		  <% } %>
		  
		  <% if(item.child && item.child.length){ %> 
		  <% test(item.child) %>
		  <% }%>
		  
		</div>
		</li>
		<% }) %>
	</ul>
<% } %>
<% test(comments) %>

 <div id="replyForm" style="display:none;">
	  <input id="replyInput" class="form-control" style="width:80%;display:inline;" type="text">
	  <button id="replySure" type="button" class="btn btn-danger">чбошод</button>
	  </div>
	  <script>
	  $(function(){
		  $('#replySure').on('click',function(){
			  var content = $('#replyInput').val();
			  var $form = $('#replyForm').next('form');
			  var data =  {}
			  $form.serializeArray().forEach(function(item,index){
				  data[item.name] = item.value;
			  })
			  data.content = $('#replyInput').val();
			  
			  $.ajax({url:location.pathname+'/reply',data:data,type:'post',dataType:'json'}).done(function(json){
				  console.log(json);
				  history.go();
			  })
			  
		  });
		  $('.reply').click(function(){
			  console.log($(this).next());
			  if($(this).next().get(0) ==  $('#replyForm').get(0) && $('#replyForm').is(':visible')){
				  $('#replyForm').hide();
			  }else{
				  $('#replyForm').insertAfter($(this)).show();
			  }
			  
			  
		  })
		  
	  })
	  
	  </script>
<% } %>
<form role="form" method="post">
  
  <div class="form-group">
	<textarea class="form-control" rows="3" name="content"></textarea>
  </div>
  <input type="hidden" name="blogID" value="<%=doc._id%>">
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>